@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --nation-clr: white;
  --nation-clr-dark: white;
}

.app {
  margin: 2rem;
  text-align: center;
  font-family: 'Gideon Roman', cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.unitRoster {
  display: grid;
  grid-template-rows: auto 1fr;
}

.unitRosterTitle {
  grid-column: 1/4;
}

.unitRosterCardsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;

}

.unitRosterCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;

  width: 10rem;
  border: 0.3rem solid black;
  border-radius: 2%;
  margin: 1.5rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);

  background-color: var(--nation-clr);
  color: antiquewhite;
  cursor: pointer;
}

.unitRosterCard:hover {
  box-shadow: 0 0.5rem 0.5rem 0 rgb(23, 24, 1);
  background-color: var(--nation-clr-dark);
  transition: 0.3s;
  transform: translateY(-10px);
}

.unitRosterCardDenarii {
  grid-column: 3/4;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: white;
  -webkit-text-stroke: 0.05rem black;
  border: 0.15rem solid rgb(98, 98, 89);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: silver;
}

.unitRosterCardDenarii p {
  margin: auto;
}

.unitRosterCardTitle {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  margin: 1rem 0rem 0rem 0rem;
  padding: auto;
  border: 0.2rem solid black;
  background-color: gray;
  height: 3rem;
}

.unitRosterCardTitle p {
  margin: auto;
}

.unitRosterCardAvatar {
  grid-column: 1/4;
  margin: auto;
  padding: 0.3rem;
}

.unitRosterCardAvatar img {
  max-width: 100%;
}

.unitRosterCardButton {
  grid-column: 1/4;
  margin-bottom: 0.1rem;
  border: 0.15rem solid black;
  cursor: copy;
}

.unitRosterCardStats {
  grid-column: 1/4;
  padding: 0.3rem;
  display: block;
  margin: auto;
  }

.unitRosterCardStats p {
  text-align: left;
  font-size: 0.8rem;
  max-width: 100%;
  margin:auto;
}

.warbandView {
  min-width: 50%;
}

.finalUnitCard {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  grid-template-rows: auto auto;
  padding: 1rem 1rem 0rem 1rem;
  background-color: #e3e0cd;
  color: #444443;
  border: 0.3rem solid black;
  border-radius: 2%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.finalUnitCard p {
  font-size: 1.1rem;
}

.finalUnitCardOptionSection {
  grid-column: 1/4;
  font-size: 1rem;
}

.finalUnitCardOptionSection h4 {
  text-align: center;
  margin-bottom: 0%;
  border-bottom: 0.1rem solid black;
}

.finalUnitCardOptionSection p {
  display: inline-flex;
  padding-right: 1rem;
  margin-bottom: 0%;
}

.unitQuantityContainer {
  white-space: nowrap;
  text-align: center;
}

.quantityButton {
  display: inline-block;
  border-radius: 20%;
}

.unitQuantity {
  display: inline-block;
  margin-inline: 0.5rem;
  }

.unitCost {
  text-align: center;
  border: 0.1rem solid black;
  border-radius: 50%;
  background-color: lightgray;
}

.unitShowOptionButton {
  grid-column: 1/4;
}

.unitOptionsSelector {
  grid-column: 1/4;
}

@media (max-width: 900px) {
  :root {
    font-size: 0.8rem;
  }

  .app {
    margin: 0.5rem;
  }

  .container {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  :root {
    font-size: 0.5rem;
  }
}