/* To be structured and cleaned */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --nation-clr: white;
  --nation-clr-dark: white;
}

.app {
  display:grid;
  margin: 2rem;
  text-align: center;
}

h1 {
  font-family: serif ;
}

.container {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: auto auto;
  column-gap: 5rem;
}

.unitRoster {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.unitRosterTitle {
  grid-column: 1/4
}

.unitRosterCard {
  display: grid;
  width: auto;
  grid-template-rows: auto 7fr auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  border: 3px solid black;
  background-color: var(--nation-clr);
  color: antiquewhite;
  margin: 1rem;
  border-radius: 2%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.unitRosterCard:hover {
  box-shadow: 0 8px 8px 0 rgb(23, 24, 1);
  background-color: var(--nation-clr-dark);
  transition: 0.3s;
  transform: translateY(-10px);
}

.unitRosterCardDenarii {
  grid-column: 3/3;
  margin: 0;
  padding-top: 0.4em;
  margin-top: 0.5em;
  font-size: x-large;
  color: white;
  -webkit-text-stroke: 1px black;
  border: 2px solid rgb(98, 98, 89);
  border-radius: 50%;
  height: 2em;
  width: 2em;
  background-color: silver;
}

.unitRosterCardDenarii p {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
  font-size: x-large;
}

.unitRosterCardTitle {
  grid-column: 1/4;
  margin: 0%;
  margin-top: 1em;
  padding: 0.5em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: gray;
}

.unitRosterCardAvatar {
  grid-column: 1/4;
  display: block;
  margin: auto;
  padding: 1em;
}

.unitRosterCardAvatar img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.unitRosterCardButton {
  grid-column: 1/4;
}

.unitRosterCardStats {
  grid-column: 1/4;
  display: block;
  margin: auto;
}

.unitRosterCardStats p {
  text-align: left;
  font-size: large;
  height: 100%;
  max-width: 100%;
  display: block;
  margin:auto;
}

.finalUnitCard {
  background-color: #e3e0cd;
  color: #444443;
  border: 3px solid black;
  border-radius: 3%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  grid-template-rows: auto auto;
  padding: 1em 1em 0em 1em
  
}

.finalUnitCardOptionSection {
  grid-column: 1/4;
}

.finalUnitCardOptionSection h4 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.finalUnitCardOptionSection p {
  display: inline-flex;
  padding-right: 1em;
}

.unitQuantityContainer {
  white-space: nowrap;
  text-align: center;
}

.quantityButton {
  display: inline-block;
  border-radius: 20%;
}

.unitQuantity {
  display: inline-block;
  margin-inline: 5px;
}

.unitCost {
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: lightgray;
}

.unitShowOptionButton {
  grid-column: 1/4;
}

.unitOptionsSelector {
  grid-column: 1/4;
}